#profile-button {
  margin-right: 50px;
  margin-top: 60px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  padding: 0;
  align-self: start;
  /* background-color: rgb(53, 102, 104); */
}

#profile-button>img {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}

#profile-button>img:hover {
  transform: scale(1.25, 1.25);
  transition-duration: 1s;
}

#profile-button>svg {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: rgb(160, 211, 218);
}

.profile-dropdown {
  position: absolute;
  top: 160px;
  right: 25px;
  background-color: var(--backgroud1);
  font-size: x-large;
  color: white;
  padding: 15px;
  border-radius: 5px;
  border: solid black 3px;
  box-shadow: 4px 4px 4px var(--backgroud1);
  z-index: 15;
}
