#header-logo {
    border: solid black 3px;
    /* box-shadow: 4px 4px 4px var(--backgroud1); */
    border-radius: 0 0 10px 0;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

#farmer-logo {
    background-image: url(/GCFarmers.png);
    width: 400px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: top center;
    border-radius: 5px;
    border: solid black 3px;
    box-shadow: 4px 4px 4px var(--backgroud1);
}

.quote-divs {
    color: white;
    width: 25vw;
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 2px black;
}

#farmer-quotes-container {
    margin-top: 100px;
}

#auth-container {
    color: white;
    margin-top: 25px;
    font-size: x-large;
    text-shadow: 2px 2px 2px black;
}

#main-statement {
    margin: 150px 170px;
    color: white;
    font-size: 42px;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

#landing-video-container {
    box-sizing: border-box;
    border-radius: 10px;
    border: solid black 3px;
    box-shadow: 4px 4px 4px var(--backgroud1);
}

#landing-video {
    border-radius: 10px;
}

#mission-container {
    margin: 200px 300px;
    color: white;
}

#landing-mission {
    font-size: xx-large;
    font-style: italic;
    text-shadow: 2px 2px 2px black;
}
