footer {
    background-color: var(--backgroud1);
}

footer>div>p.link {
    margin-top: 20px;
    font-size: x-large;
}

.footer-logo {
    height: 100px;
    width: 100px;
    background-image: url(/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.footer-buttons {
    padding: 10px;
    margin-right: 40px;
    background-color: rgb(87, 128, 175);
    color: white;
    border-radius: 5px;
}

.footer-buttons:hover {
    cursor: pointer;
    background-color: rgb(70, 112, 160);
}

#social-button-container {
    margin-right: 40px;
}
