#grades-container {
    justify-content: center;
    height: fit-content;
    position: relative;
    z-index: 4;
    width: fit-content;
    max-width: 75%;
    border-radius: 15px;
    margin-bottom: 40px;
}

#grades-content {
    height: fit-content;
    position: relative;
    flex-wrap: wrap;
    margin: 40px;
    width: fit-content;
    max-width: 100%;
    z-index: 5;
    flex: 15px;
    gap: 40px;
}

.grades-content-card {
    position: relative;
    width: 48%;
    height: 200px;
    background-color: rgb(205, 241, 235);
    z-index: 6;
    border-radius: 15px;
    border: solid black 3px;
    box-shadow: 4px 4px 4px var(--backgroud1);
}

#main-container {
    width: 100vw;
}
