:root {
    --backgroud1: rgb(45, 83, 96);
    /* background-color: var(--backgroud1); */
}

* {
    margin: 0;
    padding: 0;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-25 {
    gap: 25px;
}

.gap-60 {
    gap: 60px
}

.aselfstart {
    align-self: start;
}

.acenter {
    align-items: center;
}

.aselfcenter {
    align-self: center;
}

.aselfend {
    align-self: end;
}

.aend {
    align-items: end;
}

.tend {
    text-align: end;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

.w100 {
    width: 100vw;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.link {
    cursor: pointer;
    color: darkcyan;
    text-shadow: 2px 2px 2px black;
}

.link:hover {
    color: rgb(58, 110, 110)
}

.landing {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(/fields.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.button {
    padding: 10px;
    background-color: rgb(87, 128, 175);
    color: white;
    border-radius: 5px;
    text-shadow: 2px 2px 2px black;
}

.button>a {
    color: white;
    text-decoration-line: none;
    text-shadow: 2px 2px 2px black;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(70, 112, 160);
}

.error {
    color: rgb(194, 0, 0);
}

.minh100 {
    min-height: 100vh;
}

.mleft-25 {
    margin-left: 25px;
}

.theme-main-background {
    background-color: rgb(205, 241, 235);
}

.margin-15 {
    margin: 15px;
}

.margin-40 {
    margin: 40px;
}
