:root {
    --backgroud1: rgb(45, 83, 96);
    --light-theme1: rgb(205, 241, 235);
    --light-theme2: rgba(180, 225, 217);
    --light-theme3: rgba(255, 255, 255, 0.2);
    --dark-theme1: rgb(49, 49, 49);
    --dark-theme2: rgb(79, 85, 84);
    --dark-theme3: rgba(26, 58, 65, 0.57);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--backgroud1);
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-25 {
    gap: 25px;
}

.gap-40 {
    gap: 40px;
}

.gap-60 {
    gap: 60px
}

.h100 {
    height: 100%;
}

.jcenter {
    justify-content: center;
}

.jselfend {
    justify-self: end;
}

.aselfstart {
    align-self: start;
}

.acenter {
    align-items: center;
}

.tselfstart {
    text-align: start;
}

.aselfcenter {
    align-self: center;
}

.aselfend {
    align-self: end;
}

.aend {
    align-items: end;
}

.tend {
    text-align: end;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.w100 {
    width: 100vw;
}

.w500 {
    width: 500px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.link {
    cursor: pointer;
    color: rgb(0, 139, 139);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.651);
}

.link:hover {
    color: rgb(58, 110, 110)
}

.landing {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(/fields.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.button {
    padding: 10px;
    background-color: rgb(87, 128, 175);
    color: white;
    text-shadow: 2px 2px 2px black;
    border-radius: 5px;
    text-shadow: 2px 2px 2px black;
}

.button>a {
    color: white;
    text-decoration-line: none;
    text-shadow: 2px 2px 2px black;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(70, 112, 160);
    color: rgb(58, 110, 110)
}


.minh100 {
    min-height: 100vh;
}

.error {
    color: rgb(194, 0, 0);
    text-shadow: 2px 2px 2px black;
}

.mleft-25 {
    margin-left: 25px;
}

.mleft-50 {
    margin-left: 50px;
}

.mbotton-15 {
    margin-bottom: 15px;
}

.theme-main-background {
    background-color: rgb(205, 241, 235);
}

.padding-15 {
    padding: 15px;
}

.padding-40 {
    padding: 40px;
}

.margin-15 {
    margin: 15px;
}

.margin-40 {
    margin: 40px;
}

.background {
    background-color: var(--backgroud1);
}

.light {
    color: black;
    font-weight: bold;
    font-style: italic;
    text-shadow: 3px 3px 4px var(rgba(255, 255, 255, 0.671));
}

.default,
.light1,
.light2,
.light3 {
    border: solid black 3px;
    box-shadow: 4px 4px 4px var(--backgroud1);
}

.light1 {
    background-color: var(--light-theme1);
}

.light2 {
    background-color: var(--light-theme2);
}

.light3 {
    background-color: var(--light-theme3);
}

.dark {
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
    font-style: italic;
    text-shadow: 3px 3px 4px var(black);
}

.dark1,
.dark2,
.dark3 {
    border: solid rgba(51, 51, 53, 0.788) 3px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.712);
}

.dark1 {
    background-color: var(--dark-theme1);
}

.dark2 {
    background-color: var(--dark-theme2);
}

.dark3 {
    background-color: var(--dark-theme3);
}

.wrap {
    flex-wrap: wrap;
}

.font-16 {
    font-size: 16px;
}

.font-20 {
    font-size: 20px;
}

.font-24 {
    font-size: 24px;
}

.font-32 {
    font-size: 32px;
}

.no-dec {
    text-decoration-line: none;
}

.rad-10 {
    border-radius: 10px;
}

input {
    padding: 10px;
    box-sizing: border-box;
}
